/* https://coolors.co/294e89-0b0a07-f5f3f5-4ca1db-0d001d */
:root {
    --primary-color: #01122d;
    --secondary-color: #018ec4;
    --background-color: hsl(0, 0%, 100%);
    --text-color: #000000;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --border: 2px solid var(--color-primary);

    --card-background:#ededed;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --color-shadow: white;
    --box-shadow1: 0px 0rem 2rem 0px #b5b5b5;
}



html {
    scroll-behavior: smooth;
    scroll-padding-top: 12%;
    cursor: url("./assets/svgs/cursor.png"), auto
}

* {
    font-family: poppins;
    margin: 0%;
    list-style: none;
   
}

body {
    background-color: var(--background-color);
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0em;
}

body::-webkit-scrollbar-track {
    background: hsla(204, 67%, 58%, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--higlight-text-color);
    outline: 1px solid var(--background-color);
}

main {
    width: 100svw;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h1 {
    color: var(--text-color);
    font-size: 6rem;
}

h2 {
    color: var(--text-color);
}

h3 {
    font-size: 3rem;
}

h4 {
    color: var(--text-color);
}
h5{
    font-size: 76%;
    font-style: italic;
    font-weight: 200;
}

p {
    color: var(--text-color);
}

.map {
    overflow: hidden;
}

.icon-map>path {
    animation: globe-rotate 2s linear infinite;
}

@keyframes globe-rotate {
    from {
        transform: translate(-85%);
    }

    to {
        transform: translate(60%);
    }
}

nav {
    position: sticky;
    top: 2%;
    z-index: 10;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-links {
    display: flex;
    gap: 1rem;
    text-wrap: nowrap;
}

.logo {
    align-items: center;
    display: flex;
    gap: 0.5rem
}

.logo>h4 {
    text-wrap: nowrap;
}

.icon {
    width: 4rem;
    height: 4rem;
}

#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
}

.header-section {
    width: 100%;
    margin: 0 auto;
    position: relative;
    max-width: 1200px;
    padding: 5px;
    overflow: hidden;
}

.header-section video {
    object-fit: fill;
    width: 100%;
    height: 70%;
}

.header-section svg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 70%;
    padding: 5px;
}

.header-section svg text {
    font-family: poppins, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    padding: 5px;
}

.header-section-subtext {
    font-size: 3px !important;
}

.header-section svg rect {
    fill: white;
}

.header-section svg>rect {
    -webkit-mask: url(#mask);
    mask: url(#mask);
}

#scroll-down-btn {
    position: absolute;
    bottom: 25%;
    width: 5px;
    left: 50%;
    height: auto;
    z-index: 3;
}

#scroll-down-btn>lottie-player {
    width: 100%;
    height: 100%;
}

#about-us-section {
    margin-top: -17%;
    overflow: hidden;
   
}
.waves{
    position: relative;
    z-index: 2;
}

#about-us {
    height: fit-content;
    margin-top: -10%;
    padding: 1rem;
    color: var(--background-color);
    font-size: 4rem;
    background: var(--primary-color);
     padding-bottom: 20%;
     h3{
        position: relative;
        z-index: 3;
     }
}

.about-us-content {
    display: flex;
    font-size: 1rem;
    gap: 1rem;
    
}
#about-us-img{
    margin-top: -30%;
    width: 40rem;
    height: 40rem;
    margin-bottom: -10%;
    padding-bottom: -20%;
}

.about-us-content .left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}
.about-us-content .right{
    display: flex;
    justify-content: center;
}

.vision-mission h4{
 font-size: 3rem;
 color: var(--background-color);
}
.vision-mission{
    font-size: 1rem;
   }


   .card1{
    border-radius: var(--card-border-radius);
    border:  2px solid #e6effe;
    padding: var(--card-padding);
    text-align: center;
    color: var(--secondary-color);
    box-shadow: var(--box-shadow1);
    transition: all 100ms ease-in;
    img{
        transition: all 200ms ease-in;
    }
    h4{
        color: #c4aa01;
    }
}
.card1:hover{
    border:  2px solid var(--secondary-color);
    img{
        scale: 1.25;
    }
}

#alliance-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: -17%;
    overflow: hidden;
   
}

#alliance-partner{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: fit-content;
    margin-top: -10%;
    padding: 1rem;
    color: var(--background-color);
     text-align: center;
}
#alliance-partner-title{
    position: relative;
    z-index: 3;
    color: var(--primary-color);
    span{
        color: var(--secondary-color);
    }
}
#alliance-below-waves{
    margin-top: -10%;
}

.section{
    margin-top: -17%;
    overflow: hidden;
}
.section-content{
    background-image: url(./assets/backgrounds/bg_02.jpeg);
    object-fit: fill;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: fit-content;
    margin-top: -10%;
    padding: 1rem;
    color: white;
    text-align: center;
    h3{
        color: white;
    }
}

.partners{
    position: relative;
    z-index: 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    place-content: center;
    img{
        max-width: 10rem;
        height: 5rem;
    }
    
}

#management{
    padding-top: 21%;
    color: white;
    h4{
        color: white;
    }
    p{
        color: white;
    }
    img{
        max-width: 10rem;
    }
}
.people{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-content: center;
}
.person{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    background: #6868686a;
    border-radius: var(--card-border-radius);
    img{
        border-radius: 50%;
        aspect-ratio: 1/1;
        border: 1px dashed var(--secondary-color);
    }
    img:hover{
        border: 1px solid var(--secondary-color);
    }
}

/* Mobile */
@media screen and (max-width:1200px) {
    .header-section svg {
        font-size: 3rem;
    }
    .about-us-content {
        flex-direction: column;
    }

    #about-us-img{
        margin-top: -10%;
        width: 30rem;
        height: 30rem;
    }
    .about-us-content .left{
        width: 100%;
    }
    .about-us-content .right{
        width: 100%;
    }
}
@media screen and (max-width:1000px) {
    .partners{
        grid-template-columns:repeat(2, 1fr); ;
    }
}

@media screen and (max-width:430px) {
    .card1{
        max-width: 8rem;
        img{
            max-width: 7rem;
        }
    }
}
